<!doctype html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="../styles/vstyle_W3.css">
	<link rel="stylesheet" href="../styles/vc_accordion.css">
	<link rel="stylesheet" href="../styles/vc_core/style.css">
<link href="https://fonts.googleapis.com/css?family=Assistant:200,400" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: 'Assistant', sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>

<body style="width: 33%">

<div class="vcImageTileBar w3-theme-l3 w3-cell-row" style="position: relative;">
		<div class="w3-border w3-white w3-card viewComments1" id="viewCommentsM_6">
	
			<div class='w3-container viewCommentsContainer'>
			<span class='w3-xlarge w3-right closeComments'>&times;</span>
				
			<div class='w3-padding w3-white viewCommentsInner'>
				Comment!<br />
				Comment!<br />
				Comment!<br />
				Comment!<br />
				Comment!<br />
				Comment!<br />
				Comment!<br />
				Comment!<br />
				Comment!<br />
				Comment!<br />
				</div>
				
			<div class='w3-button w3-theme-action w3-center addCommentBtn' style='position: absolute; bottom: 0px; left: 0px; width: 100%;'>Add Comment</div>	
			</div>
			
	<!--<div class='w3-row' id='commentDiv_6'>
		<span class='w3-xxlarge w3-right' style='margin-right: 4px; width: 10%'>&times;</span>
		<div id='commentButton_"  . $iid .  "' class='w3-button w3-center w3-theme-action w3-left' style='padding: 4px; cursor: pointer; width: 90%;'>Add Comment</div></div>
		
		<div class'vcItalic w3-row viewCommentsInner'>
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!<br />
			No comments yet!
			</div>-->
			
	</div>
		<div class="w3-container w3-cell" style="cursor: pointer;"><span class="vcicon icon-favoritesvc"></span>&nbsp;<span id="mFavs_6">3</span></div>
		  <div class="w3-container w3-cell" style="cursor: pointer"><span class="vcicon icon-commentsvc"></span>&nbsp;<span id="cNum_6">5</span></div>
		  <div class="w3-container w3-cell"><span class="vcicon icon-sharevc"></span></div>
    </div><!-- end image tileBar -->
	

</body>
</html>
